#sc-4 {
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}
.main__program {
  width: 100%;
  height: 154vh;
}

.sc-main__program--wrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  gap: 30px;
}
.program__line {
  width: 100%;
}
.program__card {
  position: relative;
  width: 100%;
  border-radius: 25px;
  margin-top: 20px;
  overflow: hidden;
}
.program__card > img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s;
}
.program__card:hover .card__img {
  transform: scale(1.1);
}
.program__card:hover .card__img--a {
  opacity: 1;
}
.card__img--a {
  position: absolute;
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  transition: 0.2s;
  opacity: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.program__card > a:hover {
  color: white;
  background-color: #e2151e;
}
.line2 {
  transform: translateY(-10%);
}
